@import 'basic_set';

#preloader {
    /*   這是整個會蓋住畫面的底色色塊  */
    @include size(100%, 100vh, unset, white);
    @include pos(fixed, 0%, 0%);
    z-index: 9999;

    #container {
        @include size(200px, 200px, 50%, unset);
        @include pos(relative, 30%, 42%);
        animation: around 1s+2s linear 0s infinite;

        .circle1 {
            @include size(25px, 25px, 50%, teal);
            @include pos(absolute, -5px, 40px);
            animation: color random()*2s+1s linear random()*0.5s infinite;
        }

        .circle2 {
            @include size(25px, 25px, 50%, peru);
            @include pos(absolute, 20px, 160px);
            animation: color random()*2s+1s linear random()*0.5s infinite;
        }

        .circle3 {
            @include size(25px, 25px, 50%, lightskyblue);
            @include pos(absolute, 140px, 170px);
            animation: color random()*2s+1s linear random()*0.5s infinite;
        }

        .circle4 {
            @include size(25px, 25px, 50%, lightpink);
            @include pos(absolute, 180px, 55px);
            animation: color random()*2s+1s linear random()*0.5s infinite;
        }

        .circle5 {
            @include size(25px, 25px, 50%, gold);
            @include pos(absolute, 90px, -15px);
            animation: color random()*2s+1s linear random()*0.5s infinite;
        }
    }

    .loading {
        @include size(200px, 200px, unset, unset);
        color: darkgray;
        @include flex(center, center);
        @include pos(absolute, 30%, 42.5%);
        letter-spacing: 2px;
    }

    @keyframes around {
        0% {
            // top: -169px;
            // left: 85px;
            transform: rotate(0);
        }

        25% {
            transform: rotate(90deg);
        }

        50% {
            transform: rotate(180deg);
        }

        75% {
            transform: rotate(270deg);
        }

        100% {
            // top: -10px;
            // left: 252px;
            transform: rotate(360deg);
        }
    }

    @keyframes color {
        0% {
            background-color: peru;
        }

        50% {
            background-color: lightpink;
        }

        75% {
            background-color: lightskyblue;
        }
    }
}

.offload {
    display: none;
}

@media (max-width: 1024px) {
    #preloader {
        #container{
            left: 40%;
        }
        .loading{
            left: 40%;
        }
    }
}
@media (max-width: 720px) {
    #preloader {
        #container{
            left: 35%;
        }
        .loading{
            left: 35%;
        }
    }
}
@media (max-width: 430px) {
    #preloader {
        #container{
            left: 25%;
        }
        .loading{
            left: 25%;
        }
    }
}