* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px;
    font-family: 'Segoe UI', SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
}

a:link,
a:active,
a:visited {
    color: black;
}

a:hover {
    border-bottom: 2px solid black;
}

.nav,
.container {
    width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.nav {
    width: 100%;
    height: 54px;
    /* background-color: lavenderblush; */
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-bottom: 5px;
}

.logo img {
    width: 108px;
    height: 23px;
}
@media (max-width:1800px) {
    .nav {
        padding: 0 5%;
    }
}
@media (max-width: 859px) {
    nav {
        position: relative;
    }
    .logo img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.nav_menu {
    width: calc(100% - 137px);
    height: 25px;
    display: flex;
    justify-content: flex-start;
    color: black;
}

@media (max-width:1399px) {
    .nav_menu {
        justify-content: space-between;
    }
}

.menu_L,
.menu_R {
    list-style: none;
}

.menu_L {
    height: 25px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    flex: 2;
}
.menu_L div:nth-last-of-type(1) {
    display: none;
}
@media (max-width:1280px) {
    .menu_L {
        flex: 1;
    }
}

@media (max-width:884px) {

    .menu_L div:nth-last-of-type(2),
    .menu_L div:nth-last-of-type(3) {
        display: none;
    }
    .menu_L div:nth-last-of-type(1) {
        display: flex;
    }    
}

@media (max-width:859px) {
    .menu_L {
        display: none;
    }
}

.menu_R {
    height: 25px;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.R_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_a {
    display: flex;
    align-items: flex-start;
}

@media (max-width:1399px) {
    .menu_R {
        flex: 1;
    }
    .btn_b span {
        display: none;
    }
}
@media (max-width:1280px) {
    .menu_R {
        width: 260px;
        flex: none;
    }
}
@media (max-width:859px) {
    .menu_R {
        width: 859px;
        max-width: 100%;
        justify-content: space-between;
    }
    .btn_a span {
        display: none;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.menu i {
    margin-left: 5px;
    margin-top: 3px;
}

.menu img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
}
@media (max-width:859px) {
    .logman {
    }
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: palegreen; */
}

.bg1 {
    position: relative;
    display: flex;
    transform: translate(-50%, -50%);
}

@media (max-width:1080px) {
    .bg1 {
        flex-direction: column;
        position: unset;
    }
}
.memo {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
}

.memo_bg_1, .memo_bg_2  {
    width: 370px;
    margin: 70px 110px;
    font-size: 13px;
    text-align: left;
    flex-direction: column
}

.memo_bg_2 {
    margin-top: 150px;
}

.memo_bg_2 span  {
    background-color: orange;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
}

@media (max-width:1080px) {
    .memo_bg_1 {
        position: unset;
        width: 100%;
        height: ;
    }
}

.memo_btn {
    width: 100px;
    height: 40px;
    background-color: #0067b8;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    border-bottom: none;
}

.content_2 {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: plum; */
    margin: 80px 0 50px;
}

.content_2box {
    width: 170px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    margin: 0 0 20px;
}

.content_2box img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.content_2box-2 {
    margin-left: 20px;
}

.content_3 {
    width: 100%;
    height: 366px;
    display: flex;
    justify-content: center;
}

.content_3box {
    width: 306px;
    height: 172px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: plum; */
    margin: 0 10px;
    font-size: 16px;
}

.content_3box img {
    width: 306px;
    min-width: 100%;
    height: 172px;
}

.content_3box_text {
    width: 306px;
    height: 172px;
}

.content_3box_link1 {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.content_3box_link2,
.content_3box_link3,
.content_3box_link4 {
    font-size: 18px;
}

.content_4 {
    width: 1296px;
    height: 487px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.content_4 img {
    width: 100%;
    height: 100%;
}